**/*.o
**/*.a
**/*.so
**/*.ll
**/*.pyc
**/*.mod
**/.*
**/*~
**/#*
**/.DS_Store
**/Makefile
*.in
verificarlo
configure
autom4te.cache
stamp-h1
config.h
config.log
config.status
aclocal.m4
autoconf
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
