**/*.o
**/*.a
**/*.so
**/*.ll
**/*.pyc
**/*.mod
**/*.orig
**/*.la
**/*.lo
**/*.dwo
**/.*
**/*~
**/#*
**/.DS_Store
**/Makefile
*.in
verificarlo
src/vfcwrapper/vfcwrapper.c
configure
autom4te.cache
stamp-h1
config.h
config.log
config.status
aclocal.m4
autoconf
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
tests/test_fortran/test.sh
!tests/test_fortran/test.sh.in
tests/test_fortran_NAS/test.sh
!tests/test_fortran_NAS/test.sh.in
tests/test_fortran_NAS/*/*/gmon.out